.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header{
  color: white;
}
.button-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.button-bar button{
  background-color: whitesmoke;
  color: #282c34;
}
/* .canvas-container{
  height: calc(40% + 50px);
  width: calc(60% + 50px);
  background-color: whitesmoke;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
